* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* start header */
header {
  position: absolute;
  width: 100%;
  left: 0;
  height: 0;
  z-index: 2;
}
header .navbar-dark .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;
  position: relative;
  margin-left: 15px;
}
header .navbar-dark .navbar-nav .active .nav-link {
  color: #35a22c;
}
header .navbar-dark .navbar-nav .active .nav-link::before {
  width: 100%;
}
header .navbar-dark .navbar-nav .nav-link:hover {
  color: #35a22c;
}
header .navbar-dark .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0px;
  background: #35a22c;
  transition: 0.3s;
}
header .navbar-dark .navbar-nav .nav-link:hover::before {
  width: 100%;
}
/* end header */

/* start carousel */
#carousel .carousel-item {
  height: 100vh;
}
#carousel .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
/* end carousel */
/* start projects */

#projects .nav {
  justify-content: center;
}
#projects .nav-pills .nav-link {
  border: 1px solid #1a1d2d;
  margin: 0 10px;
  color: #1a1d2d;
}
#projects .nav-pills .nav-link.active {
  color: white;
  background: #35a22c;
  border-color: #35a22c;
}
#projects .card {
  margin-top: 30px;
  border-radius: 16px;
  overflow: hidden;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.997) 0px 3px 8px;
}
#projects .card-body {
  border: 3px solid transparent;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  transition: 0.1s;
}
#projects .card-body:hover {
  border-color: #35a22c;
}
/* end projects */
